@{
  Layout = "_Layout";
}

@model DocOffice.Models.Patient

<h2>Add a doctor</h2>

<h4>Add a doctor for this patient: @Html.DisplayFor(model => model.PatientName)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.PatientId)

    @Html.Label("Select a doctor")
    @Html.DropDownList("DoctorId")

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>