@{
  Layout = "_Layout";
}

@model DocOffice.Models.Patient

<h2>Edit</h2>

<h4>Edit this patient: @Html.DisplayFor(model => model.PatientName)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.PatientId)

    @Html.LabelFor(model => model.PatientName)
    @Html.EditorFor(model => model.PatientName)

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>