@{
  Layout = "_Layout";
}

@model DocOffice.Models.Doctor

<h4>Add a new doctor</h4>

@using (Html.BeginForm())
{
    <p>Doctor Name: @Html.TextBoxFor(model => model.DoctorName)</p>
    <p>Doctor Title: @Html.TextBoxFor(model => model.DoctorTitle)</p>
    
    <input type="submit" value="Add new doctor" class="btn btn-primary" />
}

<p>@Html.ValidationMessageFor(model => model.DoctorId, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

<p>@Html.ValidationMessageFor(model => model.DoctorName, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

<p>@Html.ActionLink("Show all doctors", "Index")</p>

<p>@Html.ActionLink("Home", "Index", "Home")</p>