@{
  Layout = "_Layout";
}

@model DocOffice.Models.Doctor

<h2>Edit</h2>

<h4>Edit this doctor: @Html.DisplayFor(model => model.DoctorName)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.DoctorId)

  <p>Doctor Name: @Html.EditorFor(model => model.DoctorName)</p>

 // @Html.LabelFor(model => model.Category)
 // @Html.DropDownList("CategoryId")

  <input type="submit" value="Save" /><hr>
}

<p>@Html.ActionLink("Back to list", "Index")</p>